.detailContainer{
     color: #212529;
     margin-left: 15px;
     margin-bottom: 15px;
}

.generalText{
    font-weight: 500;
    font-size: 1.25rem;
    color: #212529;
}

.detailContent span{
    display: block;
    padding: 5px;
}

/* input[type=text]{
    height: 20px;
} */

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    height: 20px;
}

.detailLeftsection{
    border: 1px solid lightgray;
    margin: 10px 0 0 0px !important;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
}