.detailContainer{
     color: #212529;
     margin-left: 15px;
     margin-bottom: 15px;
}

.generalText{
    font-size: 18px;
    color: #39A2DB;
    margin-bottom: 22px;
    font-weight: 500;
}
.detailContent{
    margin-top: 15px;
}

.detailContent span{
    display: block;
    padding: 5px;
}

/* input[type=text]{
    height: 20px;
} */

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    height: 20px;
}

.verticalLine{
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}