.Tabs {
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 0px auto;
    padding: 6px 1rem;
    color: #E8F0F2;
    border-radius: 2rem;
   
   }

   ul.nav {
    float: left;
    width: 40%;
    height: 49px;
    margin: 0 auto 0.5rem;
    border: 2px solid #f2f2f2;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 100%;
    }
    &.summaryTab{
      width: 100%;
      height: auto;
      overflow: hidden;
      text-align: center;
      margin-top: 15px;
      border: 3px solid #f2f2f2;
    }
  }

  ul.nav li {
    border-radius: 2rem;
    height: 48px;
    color: #000000;
    width: 50%;
    padding: 0.7rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.nav.summaryTab li{
    width: 14%;
    display: inline-block;
    border-radius: 2rem;
  }
  ul.nav li:nth-child(2) {
    border-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.nav.summaryTab li:nth-child(2) {
    border-radius: 2rem;
  }
  ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  ul.nav li.active {
    background: #39A2DB;
  }
  .outlet{
    margin-top: -36px;
    padding: 10px;
  }

  .list, .list{
    margin-left: 20px;
  }

  