.container{
    max-width: 0%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    min-height: 66px;
}
.navbar{
    height: 60px;
    background-color:#f2f2f2;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-elements ul li :not(:last-child){
    margin-right: 60px;
}

.nav-elements ul a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    margin-right: 8px;
}

.logo{
    margin-left: 20px;
    width: 47px;
    cursor: pointer;
}

.nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
  }
.cmMenu {
	position: relative;
	z-index: 1000;
	font-weight: 600;
	}
.cmMenu ul {
	 padding: 0;
     margin: 0;
}
.cmMenu li {
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	text-transform: capitalize !important;
	list-style: none;
}
.cmMenu a {
	color: black !important;
    text-decoration: none !important;
}
.cmMenu li:hover {
	background-color: #f8f9fa;
}
.cmMenu ul li.topmenu {
	display: inline-table;
	padding: .3em 4em;
}
.cmMenu .topmenu ul {
	display:none;
	position: absolute;
}
.cmMenu li:hover > ul {
	display: table;
}
.cmMenu ul.submenu {
	top: 100%; left: 0;
	padding-top: .5em;
	padding-bottom: .5em;	
}
.cmMenu ul.submenu li {
	padding: .2em 1.5em;
	font-size: .9rem;
}
