

.logo {
    margin-left: 20px;
    width: 47px;
}

.footer {
    width: 100%;
    background-color: #0d1846;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.footerElements ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 14px;
}

.footerElements ul li{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    margin-right: 8px;
}